<!-- {% extends 'layout.html' %} -->

{% block body %}
<style>
  html body {
      
  .button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 30px;
    color: #010101;
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
    margin-top: 40px;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
 
    transition-duration: .5s;
    background: #85e106;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  .textInputWrapper {
    position: relative;
    width: 180px;
    margin: 12px 5px;
    background: transparent;
    --accent-color: #000000;
  }
  
  
  .sub-title {
    font-weight: 600;
    margin: 5px 0;
  }

  .form-control {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #88cf16;
    width: 450px;
    border-radius: 4px;
    font-size: 15px;
  }
  .form-control:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #3586ff;
  }
  
  }
</style>
<!--Form Section-->
<div>
  <form method="post" action="{{ url_for('fert_recommend') }}" class="formf">
    <h1 style="text-align: center;color: black">
      <b>Fertilizer based on soil</b>
    </h1>
    <div class="fdata">
      <div class="form-group">
        <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
        <input
          type="number"
          class="form-control"
          id="Nitrogen"
          name="nitrogen"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="Phosphorous" style="font-size: 17px"
          ><b>Phosphorous</b></label
        >
        <input
          type="number"
          class="form-control"
          id="Phosphorous"
          name="phosphorous"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
        <input
          type="number"
          class="form-control"
          id="Pottasium"
          name="pottasium"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
      <div class="form-group">
        <label for="crop" style="font-size: 17px"
          ><b>Crop you want to grow</b></label
        >
        <select
          name="cropname"
          class="form-control"
          id="cropname"
          placeholder="Select a crop"
          style="font-weight: bold"
          required
        >
          <option selected>Select crop</option>
          <option>rice</option>
          <option>maize</option>
          <option>chickpea</option>
          <option>kidneybeans</option>
          <option>pigeonpeas</option>
          <option>mothbeans</option>
          <option>mungbean</option>
          <option>blackgram</option>
          <option>lentil</option>
          <option>pomegranate</option>
          <option>banana</option>
          <option>mango</option>
          <option>grapes</option>
          <option>watermelon</option>
          <option>muskmelon</option>
          <option>apple</option>
          <option>orange</option>
          <option>papaya</option>
          <option>coconut</option>
          <option>cotton</option>
          <option>jute</option>
          <option>coffee</option>
        </select>
      </div>
  
      <div class="d-flex justify-content-center">
        <button class="button">
          <svg class="svgIcon" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg>
         Predict
       </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
