<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re'Green</title>
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
  
</head>
<body>
  <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Then Just Login!</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Register Here!</p>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
            <div class="login-show">
                <h2>LOGIN</h2>
                <p style="text-align:center;color:white">{{ msglog }}</p>

                <form action="/login1" method="POST"> <!-- Added form tag with action attribute -->
                    <input type="text" id="uname" name="username" placeholder="Username"  required pattern="[A-Za-z]{3,}"> <!-- Added name attribute -->
                    <input type="password" name="password" placeholder="Password" id="password" > <!-- Added name attribute -->
                    <button type="submit"  class="btn" value="SIGN IN">
                        Login
                    </button> <!-- Changed type to "submit" -->
                    <input class="form-check-input" type="checkbox" name="check" id="Check" />

                    <a id="login-submit" href="#">Remember me</a>
                </form>
            </div>
			<div class="register-show" id="registerform">
				<h2>REGISTER</h2>
                <p style="text-align:center;color:white">{{ msgreg }}</p>
                <form action="/reg1" method="POST">
				<input type="text" placeholder="Username" name="username">
				<input type="password" placeholder="Password" name="password">
				<input type="email" placeholder="Email" name="email">
				<button type="submit"  class="btn" value="SIGN IN">
                    Register
			    </button>
            </form>
			</div>
		</div>
	</div>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var loginInfoBox = document.querySelector(".login-info-box");
      var loginShow = document.querySelector(".login-show");
    
      loginInfoBox.style.display = "none";
      loginShow.classList.add("show-log-panel");
    
      var loginRegPanelInputs = document.querySelectorAll('.login-reg-panel input[type="radio"]');
      loginRegPanelInputs.forEach(function (input) {
        input.addEventListener("change", function () {
          var logLoginShow = document.getElementById("log-login-show");
          var logRegShow = document.getElementById("log-reg-show");
          var registerInfoBox = document.querySelector(".register-info-box");
    
          if (logLoginShow.checked) {
            registerInfoBox.style.display = "none";
            loginInfoBox.style.display = "block";
    
            var whitePanel = document.querySelector(".white-panel");
            whitePanel.classList.add("right-log");
    
            var registerShow = document.querySelector(".register-show");
            var loginShow = document.querySelector(".login-show");
    
            registerShow.classList.add("show-log-panel");
            loginShow.classList.remove("show-log-panel");
          } else if (logRegShow.checked) {
            registerInfoBox.style.display = "block";
            loginInfoBox.style.display = "none";
    
            var whitePanel = document.querySelector(".white-panel");
            whitePanel.classList.remove("right-log");
    
            var loginShow = document.querySelector(".login-show");
            var registerShow = document.querySelector(".register-show");
    
            loginShow.classList.add("show-log-panel");
            registerShow.classList.remove("show-log-panel");
          }
        });
      });
    });
    
    
  </script>

</body>

</html>
